<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your Movie Exploder!</title>
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/site.css">
</head>

<body>
  <!-- This is the root of your app -->
  <div class="card" id="app">
    <h1>Movie Exploder</h1>
    <!-- Add your code here -->
    <main>
      <div class="controls">
        <input
          class="form-control"
          type="text"
          name="search_text"
          v-model="search_text"
          >
        <div>{{ search_text }}</div>
        <div class="subcontrols">
          <a href="">Top 10</a>
        </div>
      </div>
      <div class="movies">
        <div class="movie" v-for="m in movies">
          <div class="title">{{ m.title }}</div>
        </div>
      </div>
    </main>
  </div>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <!--jQuery: For the CSS dropdown only-->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../js/dummy_data.js"></script>
  <script src="../js/site.js"></script>
</body>

</html>
