{% extends "base.html.j2" %}

{% block title %}Welcome{% endblock title%}

{% block content %}
  <h1>Hi there</h1>
  <p>You wanna <a href="{{ api.url_for('signup') }}">sign up</a> or <a href="{{ api.url_for('login') }}">log in</a>?</p>
{% endblock content %}