{% extends "base-with-header.jinja2" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-12">
      <h3>Account "{{ account.name }}"</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        {% for record in account.records %}
          <li>{{ record.created }} - {{ record.category }} - {{ record.amount }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endblock content %}
