[submodule "work/029-static-site/blog.lpld.io"]
	path = work/029-static-site/blog.lpld.io
	url = git@github.com:tbrlpld/blog.lpld.io.git
[submodule "work/024-log100days-quart"]
	path = work/024-log100days-quart
	url = https://github.com/tbrlpld/log100days
[submodule "work/086-url-shortener"]
	path = work/086-url-shortener
	url = https://github.com/tbrlpld/short
[submodule "work/078-twitter-bot"]
	path = work/078-twitter-bot
	url = https://github.com/tbrlpld/logtweet
[submodule "work/044-react-tictactoe"]
	path = work/044-react-tictactoe
	url = git@github.com:tbrlpld/tictactoe.git
[submodule "work/029-static-blog"]
	path = work/029-static-blog
	url = git@github.com:tbrlpld/blog.git
