{% extends "base.html.j2" %}

{% block content %}
	<h1>Congratulations on Starting Your 100 Days Of Code Challenge</h1>
	<p>This again is text from the <code>100days.html</code>, not from <code>base.html</code></p>
{% endblock %}