[Unit]
Description=uWSGI Bill Tracker server instance
After=syslog.target

[Service]
ExecStart=/srv/webapp/venv/bin/uwsgi -H /srv/webapp/venv --ini-paste /srv/webapp/billtracker-deploy/production.ini
RuntimeDirectory=/srv/webapp/billtracker-deploy/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target