<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Awesome{% endblock title %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
          <li><a href="{{ url_for('members_only') }}">{{ current_user.username }}</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
    {% set messages = get_flashed_messages() %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
</html>