{% extends "base.jinja2" %}

{% block content %}
  <p>
    <a href="{{ url_for('get_form') }}">Back to the Form</a>
  </p>
  <h2>API Access</h2>
  <p>
    If you need programmatic access to this service, just send a POST request to the
    <a href="{{ create_endpoint }}">{{ create_endpoint }}</a> endpoint.
    Your request should look like this:
    <pre>{"long_url": "https://long.example.com/link/to/somewhere/else"}</pre>
  </p>
  <p>
    You will receive a response that looks something like this:
    <pre>
{
  "long_url": "https://long.example.com/link/to/somewhere/else",
  "short": "{{ request.host_url + "qvkk" }}"
}</pre>
  </p>
{% endblock content %}

{# Overriding footer to empty it #}
{% block footer %}
{% endblock footer %}