<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <title>Shorten That URL</title>
  <style type="text/css">
    body {
      color: #333;
      background-color:#fefefe;
      font-family: "Helvetica", "Arial", sans-serif;
      text-align: center;
    }

    .container {
      margin: 0 auto;
      margin-top: 5em;
      max-width: 750px;
      padding: 0 1em;
      /*width: 100%;*/
    }

    form * {
      display: block;
      margin: 0 auto;
    }

    form input,
    .link-display  {
      min-width: 42px;
      min-height: 42px;
      padding: 1em;
      line-height: 1em;
      border-radius: 0.5em;
      border: 1px #ccc solid;
    }

    form input[type="submit"] {
      background-color: #eee;
      font-size: 0.9em;
    }

    form input[type="submit"]:hover {
      cursor: pointer;
    }

    form input[type="url"],
    .link-display {
      width: 20em;
      max-width: 80%;
      margin: 2em auto;
      font-size: 1em;
      overflow-x: scroll;
    }

    .link-display {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer {
      margin-top: 5em;
    }

    pre, code {
      text-align: left;
      background-color: #eee;
      overflow-x: scroll;
      padding: 1em;
      font-size: 0.9rem;
      border-radius: 0.25em;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <h1>Shorten That URL</h1>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      {% block footer %}
        <a href="{{ url_for('apidoc') }}">Need API Access?</a>
      {% endblock footer %}
    </footer>
  </div>
</body>
</html>