{% extends "base.jinja2" %}

{% block content %}
  <div>There it is, the short link for your long URL ↓</div>
  <a class="link-display" href="{{ short }}">{{ short }}</a>
  <p>
    The original long URL was this:
    <a class="link-display" href="{{ long_url }}">{{ long_url }}</a>
  </p>
  <p>You saved {{ (long_url|length) - (short|length) }} characters.</p>
  <p><a href="{{ url_for('get_form') }}">Create another short link!</a></p>


{% endblock content %}